.container {
  padding: 1rem 0;
  width: 100%;
  height: 20rem;
  background-color: white;
  margin: auto;
  margin-top: 8rem;
}

.container img {
  display: block;
  margin: 0 auto;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.container h1 {
  text-align: center;
  font-size: 3rem;
  color: #333;
}
.myform {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.myform P {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
.myform label {
  font-size: 1.8rem;
}
.myform input {
  border-radius: 9px 0 9px 0;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  height: 3rem;
  font-size: 2rem;
  border: 2px solid #45a049;
}

.myform button {
  padding: 1rem 0.5rem;
  font-weight: bold;
  border-radius: 4px;
  font-size: 2rem;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
.myform button:hover {
  background-color: #45a049;
}
.hide {
  display: none;
}

.success {
  background-color: whitesmoke;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
}

.success h2 {
  color: green;
  font-size: 2.2rem;
}
.success p {
  font-size: 1.6rem;
  letter-spacing: normal;
  line-height: normal;
}
