* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  /* min-height: 100vh; */
  display: flex;
  background-color: #fff;
  flex-direction: column;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

.logo {
  color: #e60000;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #333;
}

.phone-number {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.pin-input-container {
  margin-bottom: 20px;
}

.pin-label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #666;
}

.pin-input {
  width: 100%;
  padding: 15px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 8px;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.pin-input:focus {
  border-color: #e60000;
}

.forgot-pin {
  text-align: center;
  /* margin-bottom: 40px; */
}

.forgot-pin a {
  color: #e60000;
  text-decoration: none;
  font-size: 16px;
}

.forgot-pin a:hover {
  text-decoration: underline;
}
.footer {
  padding-top: 10rem;
  background-color: blue;
}
.help-section {
  margin-top: auto;
  padding: 20px;
  /* background-color: #fff; */
  border-radius: 8px;

  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.help-text {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-size: 14px;
}

.buttons-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.help-button {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-button {
  background-color: white;
  color: black;
}

.register-button:hover {
  background-color: #cc0000;
}

.support-button {
  background-color: white;
  color: #333;
}

.support-button:hover {
  background-color: #e0e0e0;
}

.version {
  text-align: center;
  font-size: 12px;
  color: #999;
  /* margin-top: 15px; */
}

.terms {
  text-align: center;
  font-size: 12px;
  color: #999;
  /* margin-top: 20px; */
  padding: 10px;
  /* border-top: 1px solid #eee; */
}
