/* @media (max-width: 400px) { */
.container {
  width: 100%;
  width: 38rem;
  padding: 1rem;
  margin: 0 auto;
  font-family: sans-serif;
  /* zoom: 2; */
  /* overflow-x: hidden; */
}
.container h1 {
  font-size: 20px;
}
